* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #409EFF;
    margin: 50px auto;
    /* animation: change-size 2s linear 1s infinite alternate; */
    animation: change-size 2s linear 1s forwards;
}

.box:hover {
    animation-play-state: paused;
}

@keyframes change-size {
    from {
        width: 200px;
    }
    to {
        width: 600px;
    }
}

