* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one {
    margin: 150px;
    border: 1px solid red;
    padding: 49px;
}

.two {
    margin: 150px;
    border: 1px solid red;
    padding: 49px;
}