* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: 20px auto;
    height: 240px;
    width: 600px;
    border: 1px solid #409EFF;
}

.box div {
    width: 100px;
    height: 100px;
    background-color: #54b196;
    border: 1px solid #ffffff;
}

.box2 {
    flex-wrap: wrap;
}
