* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 200px;
    height: 100px;
    background-color: pink;
    margin: 40px 50px;
    display: inline-block;
}

.box {
    border-radius: 50px;
}

.box2 {
    border-radius: 10px 40px;
}

.box3 {
    border-radius: 10px 40px 70px;
}

.box4 {
    border-radius: 20px 40px 60px 80px;
}

img {
    /* 圆形 */
    width: 200px;
    margin: 40px 50px;
    /* 方式一 */
    /* border-radius: 100px; */
    /* 方式二 */
    border-radius: 50%;
}
