/* center页面的样式表 */
.body {
    padding: 30px 0 85px;
    background-color: #f6f6f6;
}

.body .wrapper {
    display: flex;
    justify-content: space-between;
}

/* 侧边栏 */
.body .aside {
    width: 227px;
    margin-right: 18px;
}

/* 主体内容 */
.body .content {
    flex: 1;
}

/* 用户账户概览 */
.body .content .overview {
    display: flex;
    height: 132px;
    margin-bottom: 18px;
    padding: 20px 0;
    background-color: #fff;
}

.body .content .overview div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.body .content .overview div:first-child {
    border-right: 1px solid #f4f4f4;
}

.body .content .overview img {
    width: 25px;
}

.body .content .overview div a:last-child img {
    width: 18px;
}

.body .content .overview div a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 53px;
}

.body .content .overview span {
    font-size: 25px;
    color: #e05e30;
    line-height: 1;
}

/* 公共样式 */
.body .content .pannel {
    padding: 18px 28px;
    background-color: #fff;
    margin-bottom: 20px;
}

.body .content .pannel .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 22px;
}

.body .content .pannel .title h4 {
    font-size: 22px;
    font-weight: 400;
}

.body .content .pannel .title a {
    font-size: 16px;
    color: #999999;
    vertical-align: middle;
}

.body .content .pannel .title a::after {
    content: '';
    display: inline-block;
    margin-left: 6px;
    width: 7px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}

.body .content .order .content li {
    display: flex;
    align-items: center;
    height: 137px;
    border: 1px solid #f4f4f4;
    margin-bottom: 20px;
}

.body .content .order .content li:last-child {
    margin-bottom: 0;
}

.body .content .order .content li .goods {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 110px;
    padding: 17px 0 4px 12px;
}

.body .content .order .content li .goods img {
    width: 107px;
}

.body .content .order .content li .text {
    flex: 1;
    /* 溢出的时候显示省略号，因为弹性盒子的尺寸可以被内容撑开 */
    width: 0;
}

.body .content .order .content li .goods h5 {
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px ;
}

.body .content .order .content li .goods p {
    font-size: 14px;
    color: #999999;
}

.body .content .order .content li .state {
    width: 120px;
}

.body .content .order .content li .state span {
    font-size: 14px;
    color: #e05e30;
}

.body .content .order .content li .pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.body .content .order .content li .pay p {
    font-size: 14px;
}

.body .content .order .content li .pay p:first-child {
    color: #9a2e1f;
}

.body .content .order .content li .operate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.body .content .order .content li .operate a {
    font-size: 14px;
}

.body .content .order .content li .operate a:first-child {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #5eb69c;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    border-radius: 2px;
}
