.p1 {
    font-size: 40px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.p2 {
    font-size: 30px;
    font-weight: lighter;
}

i {
    font-style: normal;
}

.p3 {
    font-family: 楷体, sans-serif;
}

.p4 {
    font-family: monospace, 微软雅黑, 楷体, sans-serif;
}

.p5 {
    font: 20px 微软雅黑 楷体 monospace sans-serif;
    font-weight: bold;
}

.p6 {
    font-weight: bold;
    font-size: 30px;
    font: 20px 微软雅黑 楷体 monospace sans-serif;
}