* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.father {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid #000000;
}

.son {
    width: 200px;
    height: 100px;
    background-color: pink;
    transition: all 0.5s;
}

.father:hover .son {
    /* transform: translate(150px, 100px); */
    transform: translate(-50%, -100%);
}
