* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 5rem;
    height: 3rem;
    background-color: #409EFF;
    margin: 0 auto;
}

/* @media (width: 375.2px) {
    html {
        font-size: 40px;
    }
} */
