body {
    background-color: #f7f7f8;
}

/* 公共样式 */
.red {
    color: #cf4444;
}

.pannel {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/* 主体内容 */
.main {
    /* 内容不能被底部固定定位的支付盖住，所以底部也需要padding */
    padding: 12px 11px 80px;
}

/* 用户信息 */
.main .userInfo {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 11px;
}

.main .userInfo .location {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.main .userInfo .more {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;

}

.main .userInfo .user {
    flex: 1;
}

.main .userInfo .user .top {
    display: flex;
    align-items: flex-end;
}

.main .userInfo .user .top h5 {
    width: 52px;
    /* 文字超出的部分显示省略号 */
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    color: #262626;
}

.main .userInfo .user .top p {
    font-size: 13px;
    font-weight: 400;
}

.main .userInfo .user .bottom {
    margin-top: 5px;
    font-size: 12px;
}

/* 底部支付 */
.pay {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 11px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-top: 1px solid #ededed;
}

.pay .left {
    font-size: 12px;
    vertical-align: middle;
}

.pay .left span {
    vertical-align: middle;
}

.pay .left i {
    font-size: 20px;
    vertical-align: middle;
}

.pay .right a {
    display: block;
    width: 90px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(90deg, #6fc2aa 5%, #54b196 100%);
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
}

/* 商品信息 */
.main .goods {
    display: flex;
    padding: 11px 0 11px 11px;
}

.main .goods .pic {
    /* base.css中设置了图片的宽为100%，所以不需要给图片设置宽高 */
    width: 85px;
    height: 85px;
    margin-right: 10px;
}

.main .goods .info {
    flex: 1;
    /* 设置该属性，防止宽度不确定下使用出文本省略号会挤压周围元素 */
    min-width: 0;
}

.main .goods .info h5 {
    font-size: 13px;
    color: #262626;
    font-weight: 400;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main .goods .info p {
    margin: 5px 0;
    width: 98px;
    height: 18px;
    font-size: 12px;
    color: #888;
    background-color: #f7f7f8;
}

.main .goods .info p span:first-child {
    margin-right: 10px;
}

.main .goods .info .price {
    font-size: 12px;
}

.main .goods .info .price span:first-child i {
    font-size: 16px;
}

.main .goods .info .price span:last-child {
    margin-left: 12px;
    color: #999;
    text-decoration: line-through;
}

.main .goods .info .price span:last-child i {
    font-size: 13px;
}

.main .goods .count {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

/* 其他信息 */
.main .other {
    padding: 15px;
}

.main .other div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.main .other div:last-child {
    margin-bottom: 0;
}

.main .other div:nth-child(2) {
    justify-content: flex-start;
}

.main .other h5,
.main .other p {
    font-size: 13px;
    font-weight: 400;
    color: #262626;
}

.main .other span {
    margin-left: 20px;
    font-size: 12px;
    color: #989898;
}

.main .other a {
    font-size: 14px;
    color: #262626;
    vertical-align: middle;
}
