* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    transition: all 2s;
    transform-style: preserve-3d;
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.cube .front {
    background-color: #409EFF;
    transform: translateZ(200px);
}

.cube .back {
    background-color: #27ba9b;
}

.cube:hover {
    transform: rotateY(180deg);
}
