* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 100px;
    margin: 50px auto;
    background-color: #409EFF;
    box-shadow: 2px 4px 3px 1px rgba(118,118,118,0.2);
}
